@charset "utf-8";

/* 米字號代表for everybody */
/* 米字號*/
* {
    margin: 0;
    padding: 0;
    /* 去除邊界對邊框的影響 */
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

/*視窗背景色設定*/
body {
    background: #a1bdbd url(./images/bg2.png) repeat-x;
}

/*連結顏色設定*/
a {
    color: #7e3c19;
}

footer a {
    text-decoration: none;
}

h1 a {
    color: #4a6d6d;
    text-decoration: none;
    font-family: "Cormorant SC", serif;
}

/*頁首,導覽,頁尾的共通設定*/
header,
footer {
    text-align: center;
}


/*頁面標題設定*/

h1 {
    background-color: #fff;
    color: #4a6d6d;
    width: 230px;
    padding: 12px 18px;
    margin: 63px auto;
    margin-bottom: 23px;
    border: double 6px #4c6969;
    text-align: center;
    border-radius: 50px;
    font-size: 2em;
    font-family: "Cormorant SC", serif;
    /* 文字跟物件陰影 */
    text-shadow: 1px 2px 0 #a1bdbd;
    box-shadow: 8px 8px 0 #809a9a;
    position: relative;
}

/*次標題設定*/
.h {
    color: #658686;
    border: 1px dashed rgb(183, 154, 81);
    /* 只有左邊有外框 */
    border-left: 5px solid #95644b;
    border-radius: 0 20px 20px 11px;
    padding: 5px;
    margin: 0px 0px 18px 0px;
    font-size: 2.8ch;
    width: 100%;
}

#emailtext {
    color: #f6f0ec;
}

h2 {
    color: #3d5959;
}

/*小標題設定*/
.bb {
    color: #f6f0ec;
    padding: 1px;
    margin: 1px auto 0px auto;
}

.home a {
    color: #596f6f;
    background-color: #f6f0ec;
    display: inline-block;
    padding: 8px;
    margin: 10px auto 20px auto;
    border-radius: 30px;
    border: 3px solid #728989;
    font-family: "Cormorant SC", serif;
    font-size: 14px;
}

/*內容區塊邊框設定*/
content {
    width: 960px;
    background-color: #f6f0ec;
    margin: 30px 15px;
    padding: 40px 60px;
    border: 1px solid #5b7676;
}
